%h2= t('.title')

= form_for(@user, :as => @user, :url => password_path, :html => { :method => :put }) do |f|

  %p
    = f.label :password, "New password"
    = f.password_field :password

  %p
    = f.label :password_confirmation, "Confirm new password"
    = f.password_field :password_confirmation

  %p
    = f.submit t('.submit_button'), :class => 'btn'