%h1= t('.sign_in_text')
%br
.row
  .span8
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
      = hidden_field_tag :remember_me, 1
      = devise_error_messages!
      .control-group
        = f.label :email
        = f.email_field :email
      .control-group
        = f.label :password
        = f.password_field :password
      .form-actions
        = f.submit t('.sign_in'), :class => 'btn btn-primary'